body{
    background-color: #00001C;
    color: aliceblue;
    border-bottom: 100px solid turquoise;
    border-left: 100px solid turquoise;
    border-right: 100px solid turquoise;
    text-align: center;
    font-family: "Montserrat";
    font: bolder;
    margin: 0px;
}


P {
    color: #FDFFFC;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.loginform{
    margin-bottom: 10px;
}

#submitbutton{
    border-radius: 25px;
    background: #FF9F1C;
    height: 80px;
    width: 150px;
    font-family: "Montserrat";
    font-size: 1.2em;
    margin-bottom: 4px;
  }
  
  